{% extends "portals/dashboard_template.html" %}


{% load static %}

<!-- ---------------- Block for Header ---------------- -->
{% block header %}
<link rel="stylesheet" href="{% static '/plugins/datatables/datatables.min.css' %}" />

{% endblock %}

<!-- ---------------- Block for Body ---------------- -->
{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Students</h3>
                    <button type="btn" class="btn btn-primary" style="float: right; right:20px;">View Report</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table comman-shadow">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table border-0  table-center table-hover">
                                <thead class="student-thread">
                                    <tr>
                                        <th></th>
                                        <th>Roll No.</th>
                                        <th>Name</th>
                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in students %}
                                    <tr>
                                        <td class="table_width">
                                            <a href="{% url 'portals:student-info' %}" class="avatar avatar-sm me-2">
                                                <img class="avatar-img rounded-circle"
                                                    src="{% static 'img/profiles/avatar-01.jpg' %}" alt="User Image" />
                                            </a>
                                        </td>
                                        <td class="table_width">{{ student.StudentID }}</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="{% url 'portals:student-info' %}">{{ student.user.first_name }}</a>
                                            </h2>
                                        </td>
                                        <td class="text-end">
                                            <div class="actions">
                                                <a href="{% url 'portals:student-info' %}"
                                                    class="btn btn-sm bg-success-light me-2">
                                                    <i class="feather-eye"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- ---------------- Block for Footer ---------------- -->

{% block footer %}
<script src="{% static 'plugins/datatables/datatables.min.js' %}"></script>

{% endblock %}