{% extends "portals/dashboard_template.html" %}


{% load static %}

<!-- ---------------- Block for Header ---------------- -->
{% block header %}
<link rel="stylesheet" href="{% static 'plugins/scrollbar/scroll.min.css' %}">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,700,1,200" />
<link rel="stylesheet" href="{% static 'css/Faculty_StudentInfo.css' %}">


{% endblock %}


<!-- ---------------- Block for Body ---------------- -->
{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">

                    <h5 class="card-title">Student Info</h5>

                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="profile-user-box">
                                    <div class="profile-user-img">
                                        {% if student.user.profile_picture %}
                                        <img class="avatar-img rounded-circle" style="width: 160px; height: 160px;"
                                            src="{{ student.user.profile_picture.url }}">
                                        {% else %}
                                        <span class="material-symbols-outlined image-size">
                                            person
                                        </span>
                                        {% endif %}

                                    </div>
                                    <div class="names-profiles">
                                        <h4>{{ student.user.first_name }} {{ student.user.last_name }}</h4>
                                        <h5>{{ student.degree.degree_abbreviation }} - {{ student.section.semester }}
                                            {{ student.section.section_name }}</h5>
                                    </div>
                                </div>
                            </div>
                            <br>

                        </div>
                        <div class="table-responsive">
                            <table class="table border-0 table-center table-hover">
                                <thead class="student-thread sticky-header">
                                    <tr>
                                        <th>Roll No.</th>
                                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name</th>
                                        {% for quiz_mark in quiz_marks %}
                                        <th>&nbsp;&nbsp;Quiz {{ quiz_mark.quiz_num }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        {% endfor %}

                                        {% for assignment_mark in assignment_marks %}
                                        <th>Assignment {{ assignment_mark.assignment_num }}</th>
                                        {% endfor %}

                                        {% for presentation_mark in presentation_marks %}
                                        <th>Presentation {{ presentation_mark.presentation_num }}</th>
                                        {% endfor %}

                                        <th>Semester Project</th>
                                        <th>Mid-term Marks</th>
                                        <th>Final Marks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="table_width">{{ student.StudentID }}</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                {{ student.user.first_name }} {{ student.user.last_name }}
                                            </h2>
                                        </td>
                                        {% for quiz_mark in quiz_marks %}
                                        <td>
                                            <input type="float" name="quiz" value="{{ quiz_mark.quiz_marks }}"
                                                class="form-control">
                                        </td>
                                        {% endfor %}
                                        {% for assignment_mark in assignment_marks %}
                                        <td>
                                            <input type="float" name="assignment"
                                                value="{{ assignment_mark.assignment_marks }}" class="form-control">
                                        </td>
                                        {% endfor %}
                                        {% for presentation_mark in presentation_marks %}
                                        <td>
                                            <input type="float" name="presentation"
                                                value="{{ presentation_mark.presentation_marks }}" class="form-control">
                                        </td>
                                        {% endfor %}


                                        <td>
                                            <!-- Editable input field for Mid-term Marks -->
                                            <input type="float" name="project_marks"
                                                value="{{ semester_marks_data.semester_project_marks }}"
                                                class="form-control" readonly>
                                        </td>

                                        <td>
                                            <!-- Editable input field for Mid-term Marks -->
                                            <input type="float" name="midterm_marks"
                                                value="{{ semester_marks_data.mids_marks }}" class="form-control"
                                                readonly>
                                        </td>
                                        <td>
                                            <!-- Editable input field for Final Marks -->
                                            <input type="float" name="final_marks"
                                                value="{{ semester_marks_data.final_marks }}" class="form-control"
                                                readonly>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <h2>Reports</h2>
                <canvas id="marksChart" width="300" height="100"></canvas>
                <div class="col-sm-12">
                    <canvas id="averageMarksChart" width="300" height="100"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- chart js libraray -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>

<!-- Inline JavaScript -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var quizMarks = [{% for quiz_mark in quiz_marks %}{{ quiz_mark.quiz_marks }}, {% endfor %}];
    var assignmentMarks = [{% for assignment_mark in assignment_marks %}{{ assignment_mark.assignment_marks }}, {% endfor %}];
    var presentationMarks = [{% for presentation_mark in presentation_marks %}{{ presentation_mark.presentation_marks }}, {% endfor %}];
    var semesterProjectMarks = [{{ semester_marks_data.semester_project_marks }}]
    var midsMarks = [{{ semester_marks_data.mids_marks }}]
    var FinalMarks = [{{ semester_marks_data.final_marks }}]

    // Average marks
    var avgQuizMarks = [
        {% for key, value in avg_quiz_marks.items %}
            {{ value }},
        {% endfor %}
];


    var avgAssignmentMarks = [
        {% for key, value in avg_assignment_marks.items %}
    {{ value }},
    {% endfor %}
];

    var avgPresentationMarks = [
        {% for key, value in avg_presentation_marks.items %}
    {{ value }},
    {% endfor %}
];
   
   
var avgSemesterProjectMarks = {{ avg_semester_project_marks }};
    var avgMidsMarks = {{ avg_mids_marks }};
    var avgFinalMarks = {{ avg_final_marks }};

    var allMarks = [
        ...quizMarks,
        ...assignmentMarks,
        ...presentationMarks,
        ...semesterProjectMarks,
        ...midsMarks,
        ...FinalMarks
    ];

    // Add average marks to the array
    allMarks.push(avgQuizMarks, avgAssignmentMarks, avgPresentationMarks, avgSemesterProjectMarks, avgMidsMarks, avgFinalMarks);


    var labels = [];
    {% for quiz_mark in quiz_marks %}
    labels.push(`Quiz {{ forloop.counter }}`);
    {% endfor %}
    {% for assignment_mark in assignment_marks %}
    labels.push(`Assignment {{ forloop.counter }}`);
    {% endfor %}
    {% for presentation_mark in presentation_marks %}
    labels.push(`Presentation {{ forloop.counter }}`);
    {% endfor %}
    labels.push(`Semester Project`);
    labels.push(`Mids`);
    labels.push(`Finals`);

    // Add labels for average marks
    labels.push("Average Quiz", "Average Assignment", "Average Presentation", "Average Semester Project", "Average Mids", "Average Finals");




    var chartConfig = {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Marks',
                data: allMarks,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgb(255, 99, 132)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    };


    var ctx = document.getElementById('marksChart').getContext('2d');
    var marksChart = new Chart(ctx, chartConfig);

    });
</script>




{% endblock %}

<!-- ---------------- Block for Footer ---------------- -->
{% block footer %}

<!-- <script src="{% static 'js/Faculty_StudentInfo.js' %}"></script> -->
<script src="{% static 'plugins/scrollbar/scrollbar.min.js' %}"></script>
<script src="{% static 'plugins/scrollbar/custom-scroll.js' %}"></script>
<script src="{% static 'plugins/flot/jquery.flot.js' %}"></script>
<script src="{% static 'plugins/flot/jquery.flot.fillbetween.js' %}"></script>
<script src="{% static 'plugins/flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'plugins/flot/chart-data.js' %}"></script>


{% endblock %}