{% extends "portals/dashboard_template.html" %}


{% load static %}

<!-- ---------------- Block for Header ---------------- -->
{% block header %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{% static 'css/Faculty_Feedbacks.css' %}">
{% endblock %}


<!-- ---------------- Block for Body ---------------- -->
{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">

                    <h5 class="card-title">Feedback Form</h5>

                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="feedback-form">
                                <form id="feedbackForm" onsubmit="submitFeedback(); return false;">
                                    {% csrf_token %}
                                    <label for="name">Faculty Name</label>
                                    <input type="text" id="name" name="name" required><br>

                                    <label for="classSelect">Select a Class</label>
                                    <div class="custom-select">
                                        <select id="classSelect" name="classSelect">
                                            <option value="Class A">BSCS 7(B)</option>
                                            <option value="Class B">BSCS 7(A)</option>
                                            <option value="Class C">BSCS 6(A)</option>
                                            <option value="Class D">BSCS 5(B)</option>
                                        </select>
                                    </div>

                                    <label for="message">Message</label><br>
                                    <textarea id="message" name="message" rows="4" required></textarea><br>

                                    <input type="submit" value="Submit">
                                </form>
                            </div>




                        </div>







                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!-- ---------------- Block for Footer ---------------- -->
{% block footer %}
<script src="{% static 'js/Faculty_Feedbacks.js' %}"></script>
{% endblock %}