{% extends "portals/dashboard_template.html" %}


{% load static %}

<!-- ---------------- Block for Header ---------------- -->
{% block header %}
<link rel="stylesheet" href="{% static '/plugins/datatables/datatables.min.css' %}" />

{% endblock %}


<!-- ---------------- Block for Body ---------------- -->
{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">


        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table comman-shadow">
                    <div class="card-body">
                        <div class="page-header">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <h3 class="page-title">Marks Entry</h3>
                                    <a href="{% url 'portals:student-dashboard' %}"><button type="btn"
                                            class="btn btn-primary" style="float: right; right:20px;">View
                                            Report</button></a>
                                </div>


                            </div>

                        </div>

                        <div class="table-responsive">
                            <table class="table border-0 table-center table-hover">
                                <thead class="student-thread sticky-header">
                                    <tr>
                                        <th></th>
                                        <th>Roll No.</th>
                                        <th>Name</th>
                                        <th>Quiz 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th>Quiz 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th>Quiz 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th>Quiz 4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th>Assignment 1</th>
                                        <th>Assignment 2</th>
                                        <th>Assignment 3</th>
                                        <th>Assignment 4</th>
                                        <th>Mid-term Marks</th>
                                        <th>Final Marks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="table_width">
                                            <a href="{% url 'portals:student-info' %}"
                                                class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle"
                                                    src="{% static 'img/profiles/avatar-01.jpg' %}"
                                                    alt="User Image" /></a>
                                        </td>
                                        <td class="table_width">200819</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="{% url 'portals:student-info' %}">Muhammad Ali Raza</a>
                                            </h2>
                                        </td>

                                        <td>
                                            <!-- Editable input field for Quiz 1 -->
                                            <input type="number" name="quiz1" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 2 -->
                                            <input type="number" name="quiz2" value="" class="form-control"
                                                placeholder="7">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 3 -->
                                            <input type="number" name="quiz3" value="" class="form-control"
                                                placeholder="8">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 4 -->
                                            <input type="number" name="quiz4" value="" class="form-control"
                                                placeholder="9">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 1 -->
                                            <input type="number" name="assignment1" value="" class="form-control"
                                                placeholder="10">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 2 -->
                                            <input type="number" name="assignment2" value="" class="form-control"
                                                placeholder="5">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 3 -->
                                            <input type="number" name="assignment3" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 4 -->
                                            <input type="number" name="assignment4" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Mid-term Marks -->
                                            <input type="number" name="midterm_marks" value="" class="form-control"
                                                placeholder="70">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Final Marks -->
                                            <input type="number" name="final_marks" value="" class="form-control"
                                                placeholder="80">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table_width">
                                            <a href="{% url 'portals:student-info' %}"
                                                class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle"
                                                    src="{% static 'img/profiles/avatar-01.jpg' %}"
                                                    alt="User Image" /></a>
                                        </td>
                                        <td class="table_width">200819</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="{% url 'portals:student-info' %}">Muhammad Ali Raza</a>
                                            </h2>
                                        </td>

                                        <td>
                                            <!-- Editable input field for Quiz 1 -->
                                            <input type="number" name="quiz1" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 2 -->
                                            <input type="number" name="quiz2" value="" class="form-control"
                                                placeholder="7">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 3 -->
                                            <input type="number" name="quiz3" value="" class="form-control"
                                                placeholder="8">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 4 -->
                                            <input type="number" name="quiz4" value="" class="form-control"
                                                placeholder="9">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 1 -->
                                            <input type="number" name="assignment1" value="" class="form-control"
                                                placeholder="10">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 2 -->
                                            <input type="number" name="assignment2" value="" class="form-control"
                                                placeholder="5">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 3 -->
                                            <input type="number" name="assignment3" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 4 -->
                                            <input type="number" name="assignment4" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Mid-term Marks -->
                                            <input type="number" name="midterm_marks" value="" class="form-control"
                                                placeholder="70">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Final Marks -->
                                            <input type="number" name="final_marks" value="" class="form-control"
                                                placeholder="80">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table_width">
                                            <a href="{% url 'portals:student-info' %}"
                                                class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle"
                                                    src="{% static 'img/profiles/avatar-01.jpg' %}"
                                                    alt="User Image" /></a>
                                        </td>
                                        <td class="table_width">200819</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="{% url 'portals:student-info' %}">Muhammad Ali Raza</a>
                                            </h2>
                                        </td>

                                        <td>
                                            <!-- Editable input field for Quiz 1 -->
                                            <input type="number" name="quiz1" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 2 -->
                                            <input type="number" name="quiz2" value="" class="form-control"
                                                placeholder="7">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 3 -->
                                            <input type="number" name="quiz3" value="" class="form-control"
                                                placeholder="8">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 4 -->
                                            <input type="number" name="quiz4" value="" class="form-control"
                                                placeholder="9">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 1 -->
                                            <input type="number" name="assignment1" value="" class="form-control"
                                                placeholder="10">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 2 -->
                                            <input type="number" name="assignment2" value="" class="form-control"
                                                placeholder="5">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 3 -->
                                            <input type="number" name="assignment3" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 4 -->
                                            <input type="number" name="assignment4" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Mid-term Marks -->
                                            <input type="number" name="midterm_marks" value="" class="form-control"
                                                placeholder="70">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Final Marks -->
                                            <input type="number" name="final_marks" value="" class="form-control"
                                                placeholder="80">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table_width">
                                            <a href="{% url 'portals:student-info' %}"
                                                class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle"
                                                    src="{% static 'img/profiles/avatar-01.jpg' %}"
                                                    alt="User Image" /></a>
                                        </td>
                                        <td class="table_width">200819</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="{% url 'portals:student-info' %}">Muhammad Ali Raza</a>
                                            </h2>
                                        </td>

                                        <td>
                                            <!-- Editable input field for Quiz 1 -->
                                            <input type="number" name="quiz1" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 2 -->
                                            <input type="number" name="quiz2" value="" class="form-control"
                                                placeholder="7">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 3 -->
                                            <input type="number" name="quiz3" value="" class="form-control"
                                                placeholder="8">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 4 -->
                                            <input type="number" name="quiz4" value="" class="form-control"
                                                placeholder="9">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 1 -->
                                            <input type="number" name="assignment1" value="" class="form-control"
                                                placeholder="10">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 2 -->
                                            <input type="number" name="assignment2" value="" class="form-control"
                                                placeholder="5">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 3 -->
                                            <input type="number" name="assignment3" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 4 -->
                                            <input type="number" name="assignment4" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Mid-term Marks -->
                                            <input type="number" name="midterm_marks" value="" class="form-control"
                                                placeholder="70">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Final Marks -->
                                            <input type="number" name="final_marks" value="" class="form-control"
                                                placeholder="80">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table_width">
                                            <a href="{% url 'portals:student-info' %}"
                                                class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle"
                                                    src="{% static 'img/profiles/avatar-01.jpg' %}"
                                                    alt="User Image" /></a>
                                        </td>
                                        <td class="table_width">200819</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="{% url 'portals:student-info' %}">Muhammad Ali Raza</a>
                                            </h2>
                                        </td>

                                        <td>
                                            <!-- Editable input field for Quiz 1 -->
                                            <input type="number" name="quiz1" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 2 -->
                                            <input type="number" name="quiz2" value="" class="form-control"
                                                placeholder="7">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 3 -->
                                            <input type="number" name="quiz3" value="" class="form-control"
                                                placeholder="8">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 4 -->
                                            <input type="number" name="quiz4" value="" class="form-control"
                                                placeholder="9">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 1 -->
                                            <input type="number" name="assignment1" value="" class="form-control"
                                                placeholder="10">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 2 -->
                                            <input type="number" name="assignment2" value="" class="form-control"
                                                placeholder="5">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 3 -->
                                            <input type="number" name="assignment3" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 4 -->
                                            <input type="number" name="assignment4" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Mid-term Marks -->
                                            <input type="number" name="midterm_marks" value="" class="form-control"
                                                placeholder="70">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Final Marks -->
                                            <input type="number" name="final_marks" value="" class="form-control"
                                                placeholder="80">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table_width">
                                            <a href="{% url 'portals:student-info' %}"
                                                class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle"
                                                    src="{% static 'img/profiles/avatar-01.jpg' %}"
                                                    alt="User Image" /></a>
                                        </td>
                                        <td class="table_width">200819</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="{% url 'portals:student-info' %}">Muhammad Ali Raza</a>
                                            </h2>
                                        </td>

                                        <td>
                                            <!-- Editable input field for Quiz 1 -->
                                            <input type="number" name="quiz1" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 2 -->
                                            <input type="number" name="quiz2" value="" class="form-control"
                                                placeholder="7">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 3 -->
                                            <input type="number" name="quiz3" value="" class="form-control"
                                                placeholder="8">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 4 -->
                                            <input type="number" name="quiz4" value="" class="form-control"
                                                placeholder="9">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 1 -->
                                            <input type="number" name="assignment1" value="" class="form-control"
                                                placeholder="10">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 2 -->
                                            <input type="number" name="assignment2" value="" class="form-control"
                                                placeholder="5">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 3 -->
                                            <input type="number" name="assignment3" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 4 -->
                                            <input type="number" name="assignment4" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Mid-term Marks -->
                                            <input type="number" name="midterm_marks" value="" class="form-control"
                                                placeholder="70">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Final Marks -->
                                            <input type="number" name="final_marks" value="" class="form-control"
                                                placeholder="80">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table_width">
                                            <a href="{% url 'portals:student-info' %}"
                                                class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle"
                                                    src="{% static 'img/profiles/avatar-01.jpg' %}"
                                                    alt="User Image" /></a>
                                        </td>
                                        <td class="table_width">200819</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="{% url 'portals:student-info' %}">Muhammad Ali Raza</a>
                                            </h2>
                                        </td>

                                        <td>
                                            <!-- Editable input field for Quiz 1 -->
                                            <input type="number" name="quiz1" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 2 -->
                                            <input type="number" name="quiz2" value="" class="form-control"
                                                placeholder="7">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 3 -->
                                            <input type="number" name="quiz3" value="" class="form-control"
                                                placeholder="8">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 4 -->
                                            <input type="number" name="quiz4" value="" class="form-control"
                                                placeholder="9">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 1 -->
                                            <input type="number" name="assignment1" value="" class="form-control"
                                                placeholder="10">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 2 -->
                                            <input type="number" name="assignment2" value="" class="form-control"
                                                placeholder="5">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 3 -->
                                            <input type="number" name="assignment3" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 4 -->
                                            <input type="number" name="assignment4" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Mid-term Marks -->
                                            <input type="number" name="midterm_marks" value="" class="form-control"
                                                placeholder="70">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Final Marks -->
                                            <input type="number" name="final_marks" value="" class="form-control"
                                                placeholder="80">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table_width">
                                            <a href="{% url 'portals:student-info' %}"
                                                class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle"
                                                    src="{% static 'img/profiles/avatar-01.jpg' %}"
                                                    alt="User Image" /></a>
                                        </td>
                                        <td class="table_width">200819</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="{% url 'portals:student-info' %}">Muhammad Ali Raza</a>
                                            </h2>
                                        </td>

                                        <td>
                                            <!-- Editable input field for Quiz 1 -->
                                            <input type="number" name="quiz1" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 2 -->
                                            <input type="number" name="quiz2" value="" class="form-control"
                                                placeholder="7">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 3 -->
                                            <input type="number" name="quiz3" value="" class="form-control"
                                                placeholder="8">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 4 -->
                                            <input type="number" name="quiz4" value="" class="form-control"
                                                placeholder="9">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 1 -->
                                            <input type="number" name="assignment1" value="" class="form-control"
                                                placeholder="10">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 2 -->
                                            <input type="number" name="assignment2" value="" class="form-control"
                                                placeholder="5">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 3 -->
                                            <input type="number" name="assignment3" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 4 -->
                                            <input type="number" name="assignment4" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Mid-term Marks -->
                                            <input type="number" name="midterm_marks" value="" class="form-control"
                                                placeholder="70">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Final Marks -->
                                            <input type="number" name="final_marks" value="" class="form-control"
                                                placeholder="80">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table_width">
                                            <a href="{% url 'portals:student-info' %}"
                                                class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle"
                                                    src="{% static 'img/profiles/avatar-01.jpg' %}"
                                                    alt="User Image" /></a>
                                        </td>
                                        <td class="table_width">200819</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="{% url 'portals:student-info' %}">Muhammad Ali Raza</a>
                                            </h2>
                                        </td>

                                        <td>
                                            <!-- Editable input field for Quiz 1 -->
                                            <input type="number" name="quiz1" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 2 -->
                                            <input type="number" name="quiz2" value="" class="form-control"
                                                placeholder="7">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 3 -->
                                            <input type="number" name="quiz3" value="" class="form-control"
                                                placeholder="8">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 4 -->
                                            <input type="number" name="quiz4" value="" class="form-control"
                                                placeholder="9">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 1 -->
                                            <input type="number" name="assignment1" value="" class="form-control"
                                                placeholder="10">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 2 -->
                                            <input type="number" name="assignment2" value="" class="form-control"
                                                placeholder="5">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 3 -->
                                            <input type="number" name="assignment3" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 4 -->
                                            <input type="number" name="assignment4" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Mid-term Marks -->
                                            <input type="number" name="midterm_marks" value="" class="form-control"
                                                placeholder="70">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Final Marks -->
                                            <input type="number" name="final_marks" value="" class="form-control"
                                                placeholder="80">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table_width">
                                            <a href="{% url 'portals:student-info' %}"
                                                class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle"
                                                    src="{% static 'img/profiles/avatar-01.jpg' %}"
                                                    alt="User Image" /></a>
                                        </td>
                                        <td class="table_width">200819</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="{% url 'portals:student-info' %}">Muhammad Ali Raza</a>
                                            </h2>
                                        </td>

                                        <td>
                                            <!-- Editable input field for Quiz 1 -->
                                            <input type="number" name="quiz1" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 2 -->
                                            <input type="number" name="quiz2" value="" class="form-control"
                                                placeholder="7">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 3 -->
                                            <input type="number" name="quiz3" value="" class="form-control"
                                                placeholder="8">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Quiz 4 -->
                                            <input type="number" name="quiz4" value="" class="form-control"
                                                placeholder="9">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 1 -->
                                            <input type="number" name="assignment1" value="" class="form-control"
                                                placeholder="10">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 2 -->
                                            <input type="number" name="assignment2" value="" class="form-control"
                                                placeholder="5">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 3 -->
                                            <input type="number" name="assignment3" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Assignment 4 -->
                                            <input type="number" name="assignment4" value="" class="form-control"
                                                placeholder="6">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Mid-term Marks -->
                                            <input type="number" name="midterm_marks" value="" class="form-control"
                                                placeholder="70">
                                        </td>
                                        <td>
                                            <!-- Editable input field for Final Marks -->
                                            <input type="number" name="final_marks" value="" class="form-control"
                                                placeholder="80">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <br><br>

                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <button type="btn" class="btn btn-primary" style="float: right; right:20px;">Save
                                    Changes
                                </button>
                            </div>


                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

<!-- ---------------- Block for Footer ---------------- -->
{% block footer %}
<script src="{% static 'plugins/datatables/datatables.min.js' %}"></script>

{% endblock %}