{% extends "portals/dashboard_template.html" %} {% load static %}

<!-- ---------------- Block for Header ---------------- -->
{% block header %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,700,1,200" />

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" href="{% static 'css/Faculty_Feedbacks.css' %}" />
{% endblock %}

{% block profilemenu %}
<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                             {% if teacher.user.profile_picture %}
                                <img class="avatar-img rounded-circle" style="width: 40px;
                                            height: 40px" src="{{ teacher.user.profile_picture.url }}" />
                            {% else %}
                                <span class="material-symbols-outlined image-size">person</span>
                            {% endif %}
                            <div class="user-text">
                                <h6>{{ teacher.user.first_name }} {{ teacher.user.last_name }}</h6>
                            </div>
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                
                               {% if teacher.user.profile_picture %}
                                <img class="avatar-img rounded-circle" style="width: 40px;
                                            height: 40px" src="{{ teacher.user.profile_picture.url }}" />
                            {% else %}
                                <span class="material-symbols-outlined image-size">person</span>
                            {% endif %}
                            </div>
                            <div class="user-text">
                                <h6>{{ teacher.user.first_name }} {{ teacher.user.last_name }}</h6>
                            </div>
                        </div>
                        <a class="dropdown-item" href="{% url 'portals:my-profile' %}">My Profile</a>
                        <a class="dropdown-item" href="{% url 'portals:logout' %}">Logout</a>
                    </div>
{% endblock %}

<!-- ---------------- Block for Body ---------------- -->
{% block body %}
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h5 class="card-title">Feedback / Complaint</h5>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="feedback-form">
                <form
                  id="feedbackForm"
                  method="post"
                  action="{% url 'portals:feedbacks' %}">
                  {% csrf_token %}
                  <label for="feedbackType">Select</label>
                  <div class="custom-select">
                    <select id="feedbackType" name="feedbackType">
                      <option value="Feedback">Feedback</option>
                      <option value="Complaint">Complaint</option>
                    </select>
                  </div>
                  <label for="name">Faculty Name</label>
                  <input type="text" id="name" name="name" value="{{ teacher.user.first_name }} {{ teacher.user.last_name }}" required /><br />

                  <label for="classSelect">Select a Class</label>
                  <div class="custom-select">
                    <select id="classSelect" name="classSelect">
                         {% for sectioncourse in sections_taught %}
                         <option>{{ sectioncourse.section.degree.degree_abbreviation }}
                           {{ sectioncourse.section.semester }} {{ sectioncourse.section.section_name }} - {{ sectioncourse.course }}</option>
                            {% endfor %}
                      
                    </select>
                  </div>

                  <label for="message">Message</label><br />
                  <textarea
                    id="message"
                    name="message"
                    rows="4"
                    required></textarea
                  ><br />

                  <button class="btn btn-primary" type="submit">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!-- ---------------- Block for Footer ---------------- -->
{% block footer %}
<script src="{% static 'js/Faculty_Feedbacks.js' %}"></script>
{% endblock %}
