{% extends 'portals/dashboard_template.html' %}
{% load static %}
{% comment %} <!--------------- Block for Header ---------------- --> {% endcomment %}
{% block header %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,700,1,200" />

  <link rel="stylesheet" href="{% static 'plugins/scrollbar/scroll.min.css' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,700,1,200" />
  <link rel="stylesheet" href="{% static 'css/Faculty_StudentInfo.css' %}" />
{% endblock %}

{% block profilemenu %}
<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                             {% if teacher.user.profile_picture %}
                                <img class="avatar-img rounded-circle" style="width: 40px;
                                            height: 40px" src="{{ teacher.user.profile_picture.url }}" />
                            {% else %}
                                <span class="material-symbols-outlined image-size">person</span>
                            {% endif %}
                            <div class="user-text">
                                <h6>{{ teacher.user.first_name }} {{ teacher.user.last_name }}</h6>
                            </div>
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                
                               {% if teacher.user.profile_picture %}
                                <img class="avatar-img rounded-circle profile-menu" style="width: 40px;
                                            height: 40px" src="{{ teacher.user.profile_picture.url }}" />
                            {% else %}
                                <span class="material-symbols-outlined image-size profile-menu"  >person</span>
                            {% endif %}
                            </div>
                            <div class="user-text">
                                <h6>{{ teacher.user.first_name }} {{ teacher.user.last_name }}</h6>
                            </div>
                        </div>
                        <a class="dropdown-item" href="{% url 'portals:my-profile' %}">My Profile</a>
                        <a class="dropdown-item" href="{% url 'portals:logout' %}">Logout</a>
                    </div>
{% endblock %}

{% comment %} <!-------------- Block for Body ---------------- --> {% endcomment %}
{% block body %}
  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-12">
            <h5 class="card-title">Student Info</h5>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="profile-user-box">
                    <div class="profile-user-img">
                      {% if student.user.profile_picture %}
                        <img class="avatar-img rounded-circle" style="width: 160px;
                                    height: 160px" src="{{ student.user.profile_picture.url }}" />
                      {% else %}
                        <span class="material-symbols-outlined image-size">person</span>
                      {% endif %}
                    </div>
                    <div class="names-profiles">
                      <h4>{{ student.user.first_name }} {{ student.user.last_name }}</h4>
                      <h5>{{ student.degree.degree_abbreviation }} - {{ student.section.semester }} {{ student.section.section_name }}</h5>
                    </div>
                  </div>
                </div>
                <br />
              </div>
              <div class="table-responsive">
                <table class="table border-0 table-center table-hover">
                  <thead class="student-thread sticky-header">
                    <tr>
                      <th>Roll No.</th>
                      <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name</th>
                      {% for quiz_mark in quiz_marks %}
                        <th>&nbsp;&nbsp;Quiz {{ quiz_mark.quiz_num }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                      {% endfor %}
                      {% for assignment_mark in assignment_marks %}
                        <th>Assignment {{ assignment_mark.assignment_num }}</th>
                      {% endfor %}
                      {% for presentation_mark in presentation_marks %}
                        <th>Presentation {{ presentation_mark.presentation_num }}</th>
                      {% endfor %}
                      <th>Semester Project</th>
                      <th>Mid-term Marks</th>
                      <th>Final Marks</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="table_width">{{ student.StudentID }}</td>
                      <td>
                        <h2 class="table-avatar">{{ student.user.first_name }} {{ student.user.last_name }}</h2>
                      </td>
                      {% for quiz_mark in quiz_marks %}
                        <td>
                          <input type="float" name="quiz" value="{{ quiz_mark.quiz_marks }}" class="form-control" readonly/>
                        </td>
                      {% endfor %}
                      {% for assignment_mark in assignment_marks %}
                        <td>
                          <input type="float" name="assignment" value="{{ assignment_mark.assignment_marks }}" class="form-control" readonly/>
                        </td>
                      {% endfor %}
                      {% for presentation_mark in presentation_marks %}
                        <td>
                          <input type="float" name="presentation" value="{{ presentation_mark.presentation_marks }}" class="form-control" readonly/>
                        </td>
                      {% endfor %}
                      <td>
                        <!-- Editable input field for Mid-term Marks -->
                        <input type="float" name="project_marks" value="{{ semester_marks_data.semester_project_marks }}" class="form-control" readonly />
                      </td>
                      <td>
                        <!-- Editable input field for Mid-term Marks -->
                        <input type="float" name="midterm_marks" value="{{ semester_marks_data.mids_marks }}" class="form-control" readonly />
                      </td>
                      <td>
                        <!-- Editable input field for Final Marks -->
                        <input type="float" name="final_marks" value="{{ semester_marks_data.final_marks }}" class="form-control" readonly />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br />
          <h2>Reports</h2>
          <br />
          <div class="col-sm-12">
            <canvas id="marksChart" width="300" height="100"></canvas>
            <br />
            <br />
            <br />
            <canvas id="averageMarksChart" width="300" height="100"></canvas>
            <br />
            <br />
            <br />
            <canvas id="quizMarks" width="300" height="100"></canvas>
            <br />
            <br />
            <br />
            <canvas id="assignmentMarks" width="300" height="100"></canvas>
            <br />
            <br />
            <br />
            <canvas id="presentationMarks" width="300" height="100"></canvas>
            <br />
            <br />
            <br />
            <canvas id="semesterProjectMarks" width="300" height="100"></canvas>
            <br />
            <br />
            <br />
            <h2>Exams</h2>
            <br />
            <div class = "examMarks row">
            <div class = "col-sm-6">
            <canvas id="midsMarks" width="300" height="300"></canvas>
            </div>
            <div class = "col-sm-6">
           
            <canvas id="finalMarks" width="300" height="300"></canvas>
            </div>
            </div>
            <br />
            <br />

            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- chart js libraray -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
  <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
  <!-- Inline JavaScript -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var quizMarks = [{% for quiz_mark in quiz_marks %}{{ quiz_mark.quiz_marks }},{% endfor %}];
    var assignmentMarks = [{% for assignment_mark in assignment_marks %}{{ assignment_mark.assignment_marks }},{% endfor %}];
    var presentationMarks = [{% for presentation_mark in presentation_marks %}{{ presentation_mark.presentation_marks }},{% endfor %}];
    var semesterProjectMarks = [{{ semester_marks_data.semester_project_marks }}]
    var midsMarks = [{{ semester_marks_data.mids_marks }}]
    var FinalMarks = [{{ semester_marks_data.final_marks }}]

    var quizPercentage = {{ quiz_percentage_data | safe }};
    var assignmentPercentage = {{ assignment_percentage_data | safe }};
    var presentationPercentage = {{ presentation_percentage_data | safe }};
    var semesterProjectPercentage = {{ semester_project_percentage_data }};
    var midsPercentage = {{ mids_percentage_data }};
    var finalPercentage = {{ final_percentage_data }}

    console.log(finalPercentage)

    // Average marks
    var avgQuizMarks = [
      {% for key, value in avg_quiz_marks.items %}    {{ value }},{% endfor %}
  ];

    var avgAssignmentMarks = [
      {% for key, value in avg_assignment_marks.items %}    {{ value }},{% endfor %}
  ];

    var avgPresentationMarks = [
      {% for key, value in avg_presentation_marks.items %}    {{ value }},{% endfor %}
  ];

    var avgSemesterProjectMarks = {{ avg_semester_project_marks }};
    var avgMidsMarks = {{ avg_mids_marks }};
    var avgFinalMarks = {{ avg_final_marks }};

    var maxQuizMarks = [
      {% for key, value in max_quiz_marks.items %} {{ value }},{% endfor %}
    ];
    var maxAssignmentMarks = [{% for key, value in max_assignment_marks.items %} {{ value }},{% endfor %}];
    var maxPresentationMarks = [{% for key, value in max_presentation_marks.items %} {{ value }},{% endfor %}];

    var maxSemesterProjectMarks = {{ max_semester_project_marks|safe }};
    var maxMidsMarks = {{ max_mids_marks }};
    var maxFinalMarks = {{ max_final_marks }};



    var minQuizMarks = [
      {% for key, value in min_quiz_marks.items %} {{ value }},{% endfor %}
    ];
    var minAssignmentMarks = [{% for key, value in min_assignment_marks.items %} {{ value }},{% endfor %}];
    var minPresentationMarks = [{% for key, value in min_presentation_marks.items %} {{ value }},{% endfor %}];
    
    var minSemesterProjectMarks = {{ min_semester_project_marks }};
    var minMidsMarks = {{ min_mids_marks }};
    var minFinalMarks = {{ min_final_marks }};
  

    var allMarks = [
      ...quizMarks,
      ...assignmentMarks,
      ...presentationMarks,
      ...semesterProjectMarks,
      ...midsMarks,
      ...FinalMarks
    ];
    var allPercentage = [
      ...quizPercentage,
      ...assignmentPercentage,
      ...presentationPercentage,
    ];
    allPercentage.push(semesterProjectPercentage, midsPercentage, finalPercentage)
   
    var allAvgMarks = [
      ...avgQuizMarks,
      ...avgAssignmentMarks,
      ...avgPresentationMarks,
    ];
    allAvgMarks.push(avgSemesterProjectMarks, avgMidsMarks, avgFinalMarks)
    
    var allMaxMarks = [
      ...maxQuizMarks,
      ...maxAssignmentMarks,
      ...maxPresentationMarks,
    ];
    allMaxMarks.push(maxSemesterProjectMarks, maxMidsMarks, maxFinalMarks)
    
    var allMinMarks = [
      ...minQuizMarks,
      ...minAssignmentMarks,
      ...minPresentationMarks,
    ];
    allMinMarks.push(minSemesterProjectMarks, minMidsMarks, minFinalMarks)

    var quizLabels = [];
    var assignmentLabels = [];
    var presentationLabels = [];
    var semProjLabels = [];
    var midsLabels = [];
    var finalLabels = [];

    {% for quiz_mark in quiz_marks %}    quizLabels.push(`Quiz {{ forloop.counter }}`);{% endfor %}
    {% for assignment_mark in assignment_marks %}    assignmentLabels.push(`Assignment {{ forloop.counter }}`);{% endfor %}
    {% for presentation_mark in presentation_marks %}    presentationLabels.push(`Presentation {{ forloop.counter }}`);{% endfor %}
    semProjLabels.push(`Semester Project`);
    midsLabels.push(`Mids`);
    finalLabels.push(`Finals`);

    var labels = [
      ...quizLabels,
      ...assignmentLabels,
      ...presentationLabels,
    ];
    labels.push(semProjLabels, midsLabels, finalLabels)



    var quizChartConfig = {
      type: 'bar',
      data: {
        labels: quizLabels,
        datasets: [
           {
          label: 'Highest',
          data: maxQuizMarks,
          backgroundColor: 'rgba(255, 159, 64, 0.8)',
          borderColor: 'rgb(255, 159, 64)',
          borderWidth: 1
        },
        {
          label: 'Student',
          data: quizMarks,
          backgroundColor: 'rgba(75, 192, 192, 0.8)',
          borderColor: 'rgb(75, 192, 192)',
          borderWidth: 1
        },
        {
          label: 'Average',
          data: avgQuizMarks,
          backgroundColor: 'rgba(153, 102, 255, 0.8)',
          borderColor: 'rgb(153, 102, 255)',
          borderWidth: 1
        },
        {
          label: 'Lowest',
          data: minQuizMarks,
          backgroundColor: 'rgba(54, 162, 235, 0.8)',
          borderColor: 'rgb(54, 162, 235)',
          borderWidth: 1
        },
       
        ]
      },
      options: {
        title: {
          display: true,
          text: 'Student vs Class Performance in Quizzes',
          fontSize: 24
        },
         layout: {
      padding: {
        top: 20 // Adjust the top padding value as needed
      }
    },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    };

    var assignmentChartConfig = {
      type: 'bar',
      data: {
        labels: assignmentLabels,
        datasets: [
           {
          label: 'Highest',
          data: maxQuizMarks,
          backgroundColor: 'rgba(255, 159, 64, 0.8)',
          borderColor: 'rgb(255, 159, 64)',
          borderWidth: 1
        },
        {
          label: 'Student',
          data: assignmentMarks,
          backgroundColor: 'rgba(75, 192, 192, 0.8)',
          borderColor: 'rgb(75, 192, 192)',
          borderWidth: 1
        },
        {
          label: 'Average',
          data: avgAssignmentMarks,
          backgroundColor: 'rgba(153, 102, 255, 0.8)',
          borderColor: 'rgb(153, 102, 255)',
          borderWidth: 1
        },
        {
          label: 'Lowest',
          data: minAssignmentMarks,
          backgroundColor: 'rgba(54, 162, 235, 0.8)',
          borderColor: 'rgb(54, 162, 235)',
          borderWidth: 1
        },
       
        ]
      },
      options: {
        title: {
          display: true,
          text: 'Student vs Class Performance in Assignments',
          fontSize: 24
        },
        
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    };


    var presentationChartConfig = {
      type: 'bar',
      data: {
        labels: presentationLabels,
        datasets: [
           {
          label: 'Highest',
          data: maxPresentationMarks,
          backgroundColor: 'rgba(255, 159, 64, 0.8)',
          borderColor: 'rgb(255, 159, 64)',
          borderWidth: 1
        },
        {
          label: 'Student',
          data: presentationMarks,
          backgroundColor: 'rgba(75, 192, 192, 0.8)',
          borderColor: 'rgb(75, 192, 192)',
          borderWidth: 1
        },
        {
          label: 'Average',
          data: avgPresentationMarks,
          backgroundColor: 'rgba(153, 102, 255, 0.8)',
          borderColor: 'rgb(153, 102, 255)',
          borderWidth: 1
        },
        {
          label: 'Lowest',
          data: minPresentationMarks,
          backgroundColor: 'rgba(54, 162, 235, 0.8)',
          borderColor: 'rgb(54, 162, 235)',
          borderWidth: 1
        },
       
        ]
      },
      options: {
        title: {
          display: true,
          text: 'Student vs Class Performance in Presentations',
          fontSize: 24
        },
        
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    };


    var semProjChartConfig = {
      type: 'bar',
      data: {
        labels: semProjLabels,
        datasets: [
           {
          label: 'Highest',
          data: [maxSemesterProjectMarks],
          backgroundColor: 'rgba(255, 159, 64, 0.8)',
          borderColor: 'rgb(255, 159, 64)',
          borderWidth: 1
        },
        {
          label: 'Student',
          data: semesterProjectMarks,
          backgroundColor: 'rgba(75, 192, 192, 0.8)',
          borderColor: 'rgb(75, 192, 192)',
          borderWidth: 1
        },
        {
          label: 'Average',
          data: [avgSemesterProjectMarks],
          backgroundColor: 'rgba(153, 102, 255, 0.8)',
          borderColor: 'rgb(153, 102, 255)',
          borderWidth: 1
        },
        {
          label: 'Lowest',
          data: [minSemesterProjectMarks],
          backgroundColor: 'rgba(54, 162, 235, 0.8)',
          borderColor: 'rgb(54, 162, 235)',
          borderWidth: 1
        },
       
        ]
      },
      options: {
        title: {
          display: true,
          text: 'Student vs Class Performance in Project',
          fontSize: 24
        },
        
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    };


    var midsChartConfig = {
      type: 'bar',
      data: {
        labels: midsLabels,
        datasets: [
           {
          label: 'Highest',
          data: [maxMidsMarks],
          backgroundColor: 'rgba(255, 159, 64, 0.8)',
          borderColor: 'rgb(255, 159, 64)',
          borderWidth: 1
        },
        {
          label: 'Student',
          data: midsMarks,
          backgroundColor: 'rgba(75, 192, 192, 0.8)',
          borderColor: 'rgb(75, 192, 192)',
          borderWidth: 1
        },
        {
          label: 'Average',
          data: [avgMidsMarks],
          backgroundColor: 'rgba(153, 102, 255, 0.8)',
          borderColor: 'rgb(153, 102, 255)',
          borderWidth: 1
        },
        {
          label: 'Lowest',
          data: [minMidsMarks],
          backgroundColor: 'rgba(54, 162, 235, 0.8)',
          borderColor: 'rgb(54, 162, 235)',
          borderWidth: 1
        },
       
        ]
      },
      options: {
        title: {
          display: true,
          text: 'Student vs Class Performance in Mids',
          fontSize: 24
        },
        
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    };


    var finalChartConfig = {
      type: 'bar',
      data: {
        labels: finalLabels,
        datasets: [
           {
          label: 'Highest',
          data: [maxFinalMarks],
          backgroundColor: 'rgba(255, 159, 64, 0.8)',
          borderColor: 'rgb(255, 159, 64)',
          borderWidth: 1
        },
        {
          label: 'Student',
          data: FinalMarks,
          backgroundColor: 'rgba(75, 192, 192, 0.8)',
          borderColor: 'rgb(75, 192, 192)',
          borderWidth: 1
        },
        {
          label: 'Average',
          data: [avgFinalMarks],
          backgroundColor: 'rgba(153, 102, 255, 0.8)',
          borderColor: 'rgb(153, 102, 255)',
          borderWidth: 1
        },
        {
          label: 'Lowest',
          data: [minFinalMarks],
          backgroundColor: 'rgba(54, 162, 235, 0.8)',
          borderColor: 'rgb(54, 162, 235)',
          borderWidth: 1
        },
       
        ]
      },
      options: {
        title: {
          display: true,
          text: 'Student vs Class Performance in Finals',
          fontSize: 24
        },
        
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    };



    var chartConfig = {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: 'Percentage Marks',
          data: allPercentage,
          backgroundColor: 'rgba(255, 0, 63, 0.8)',
          borderColor: 'rgb(255, 0, 63)',
          borderWidth: 1
        }]
      },
      options: {
         title: {
          display: true,
          text: 'Student Performance',
          fontSize: 24
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    };

    const avgChartConfig = {
      type: 'line',
      data: {
        labels: labels,
        datasets: [
          {
            label: 'Student',
            data: allMarks,
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgb(54, 162, 235)',
            fill: false,
            tension: 0
          },
          {
            label: 'Class',
            data: allAvgMarks,
            backgroundColor: 'rgba(255, 159, 64, 0.2)',
            borderColor: 'rgb(255, 159, 64)',
            fill: false, 
            tension: 0
          },
        ]
      },
      options: {
        responsive: true,
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Student Performance vs Class Performance',
          fontSize: 24
        }
      },
    };



    var ctx = document.getElementById('marksChart').getContext('2d');
    var marksChart = new Chart(ctx, chartConfig);

    var ctx = document.getElementById('averageMarksChart').getContext('2d');
    var marksChart = new Chart(ctx, avgChartConfig);
    
    var ctx = document.getElementById('quizMarks').getContext('2d');
    var marksChart = new Chart(ctx, quizChartConfig);

    var ctx = document.getElementById('assignmentMarks').getContext('2d');
    var marksChart = new Chart(ctx, assignmentChartConfig);

    var ctx = document.getElementById('presentationMarks').getContext('2d');
    var marksChart = new Chart(ctx, presentationChartConfig);

    var ctx = document.getElementById('semesterProjectMarks').getContext('2d');
    var marksChart = new Chart(ctx, semProjChartConfig);

    var ctx = document.getElementById('midsMarks').getContext('2d');
    var marksChart = new Chart(ctx, midsChartConfig);

    var ctx = document.getElementById('finalMarks').getContext('2d');
    var marksChart = new Chart(ctx, finalChartConfig);

      });
  </script>
{% endblock %}
<!-- --- -->
------------- Block for Footer ---------------- -->
{% block footer %} 
  <!-- <script src="{% static 'js/Faculty_StudentInfo.js' %}"></script> -->
  <script src="{% static 'plugins/scrollbar/scrollbar.min.js' %}"></script>
  <script src="{% static 'plugins/scrollbar/custom-scroll.js' %}"></script>
  <script src="{% static 'plugins/flot/jquery.flot.js' %}"></script>
  <script src="{% static 'plugins/flot/jquery.flot.fillbetween.js' %}"></script>
  <script src="{% static 'plugins/flot/jquery.flot.pie.js' %}"></script>
  <script src="{% static 'plugins/flot/chart-data.js' %}"></script>
{% endblock %}
