{% extends "portals/dashboard_template.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static '/css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/Faculty_GenerateExam.css' %}">





{% endblock %}

{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Generate Exam Paper</h3>
                </div>
                <div class="form-container">
                    <form id="paperForm" action="{% url 'portals:generate_paper' %}" method="POST"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="subject">Select Subject:</label>
                        {% if subjects %}
                        <select class="form-select" name="subject" id="subject" data-placeholder="Choose Subject">
                            <option></option>
                            {% for subject in subjects %}
                            <option>{{ subject.course_name }}</option>
                            {% endfor %}
                        </select>
                        {% else %}
                        <p>There are no subjects available at the moment. Please try again later or contact the
                            administrator.</p>
                        {% endif %}
                        <br>
                        <label for="selectQuestions">Select Number of Questions:</label>
                        <select name="selectQuestions" id="selectQuestions">
                            <option value="">Select Questions</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <br>
                        <div id="questionDropdowns"></div>
                        <div id="message"></div>
                        <br>
                        <button type="submit" id="generateButton" class="btn btn-primary">Generate Paper</button>
                    </form>
                </div>
                <br><br><br>
                <div id="paperPrompts"></div>
                <!-- Download Button -->
                <div id="downloadContainer" class="text-center mt-4"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script>
    const generatePaperUrl = "{% url 'portals:generate_paper' %}";
    const regenerateQuestionUrl = "{% url 'portals:regenerate_question' %}";
</script>
<script src="{% static 'js/Faculty_GenerateExam.js' %}"></script>

{% endblock %}