{% extends "portals/dashboard_template.html" %}


{% load static %}

<!-- ---------------- Block for Header ---------------- -->
{% block header %}

{% endblock %}


<!-- ---------------- Block for Body ---------------- -->
{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <h5 class="card-title">Classes</h5>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">

                            <table class="table table-striped ">
                                <tbody>
                                    <tr>
                                        <td><a class="table_height" href="Faculty_ClassInfo.html">BSCS-F-20-B-634</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a class="table_height" href="Faculty_ClassInfo.html">BSIT-F-21-B-534</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a class="table_height" href="Faculty_ClassInfo.html">BSSE-F-20-B-434</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a class="table_height" href="Faculty_ClassInfo.html">BSCS-F-22-B-334</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a class="table_height" href="Faculty_ClassInfo.html">BSSE-F-20-B-234</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a class="table_height" href="Faculty_ClassInfo.html">BSIT-F-21-B-134</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a class="table_height" href="Faculty_ClassInfo.html">BSCS-F-20-B-534</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a class="table_height" href="Faculty_ClassInfo.html">BSSE-F-22-B-634</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a class="table_height" href="Faculty_ClassInfo.html">BSME-F-20-B-734</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- ---------------- Block for Footer ---------------- -->
{% block footer %}

{% endblock %}