{% extends "portals/Student_DashboardTemplate.html" %}


{% load static %}

<!-- ---------------- Block for Header ---------------- -->
{% block header %}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{% static 'plugins/scrollbar/scroll.min.css' %}">

{% endblock %}


<!-- ---------------- Block for Body ---------------- -->
{% block body %}




{% endblock %}

<!-- ---------------- Block for Footer ---------------- -->
{% block footer %}

{% endblock %}