{% extends "portals/dashboard_template.html" %}


{% load static %}

<!-- ---------------- Block for Header ---------------- -->
{% block header %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="{% static 'css/Student_Registration.css' %}">

{% endblock %}


<!-- ---------------- Block for Body ---------------- -->
{% block body %}
<div class="container">
    <p class="mainheading">Student Registration</p>
    <form action="{% url 'portals:student-registration' %}" method="POST" enctype="multipart/form-data"
        class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="profile_picture" class="file-upload">
                <div class="file-upload-preview">
                    <i class="bi bi-person-fill profile-icon"></i>
                    <img id="profile_picture_preview" src="#">
                </div>
                <input type="file" id="profile_picture" name="profile_picture" class="file-input" accept="image/*">
            </label>
        </div>

        <div class="form-group">
            <label for="first_name">First Name *</label>
            <input type="text" id="first_name" name="first_name" class="form-control" required>
            <div class="invalid-feedback">Please enter your first name.</div>
        </div>

        <div class="form-group">
            <label for="last_name">Last Name *</label>
            <input type="text" id="last_name" name="last_name" class="form-control" required>
            <div class="invalid-feedback">Please enter your last name.</div>
        </div>

        <div class="form-group">
            <label for="phone">Phone Number *</label>
            <input type="number" id="phone" name="phone" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid phone number.</div>
            <p class="error-message">{{ phone_error }}</p>
        </div>

        <div class="form-group">
            <label for="email">Email *</label>
            <input type="email" id="email" name="email" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid email address.</div>
            <p class="error-message">{{ email_error }}</p>
        </div>

        <div class="form-group">
            <label for="username">Username *</label>
            <input type="text" id="username" name="username" class="form-control" required>
            <div class="invalid-feedback">Please enter a username.</div>
            <p class="error-message">{{ username_error }}</p>
        </div>

        <div class="form-group">
            <label for="password">Password *</label>
            <input type="password" id="password" name="password" class="form-control" required>
            <div class="invalid-feedback">Please enter a password.</div>
        </div>

        <div class="form-group">
            <label for="confirm_password">Confirm Password *</label>
            <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
            <div class="invalid-feedback">Please confirm your password.</div>
            <p id="password-error" class="error-message"></p>
        </div>

        <input type="submit" value="Create Account" class="btn-primary">
    </form>

</div>

{% endblock %}

<!-- ---------------- Block for Footer ---------------- -->
{% block footer %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/Student_Registration.js' %}"></script>
{% endblock %}