/* Style for form container */
form {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Style for select inputs */
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style for button */
button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hover effect for button */
button:hover {
  background-color: #45a049;
}

/* Clearfix to clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.question {
  border: 1px solid #000000;
  padding: 1rem;
  margin-bottom: 1rem;
}

.question h3 {
  margin-top: 0;
}

.question p {
  margin: 0.5rem 0;
}

.paper-content {
  white-space: pre-wrap;
  font-family: monospace;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.question-div {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.select2-container--bootstrap-5 .select2-selection--single {
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
  background-position: right 0.75rem center;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 30px;
  padding-left: 2px !important;
}

.select2-container--bootstrap-5 .select2-selection--single {
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
  background-position: right 0.75rem center;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 30px;
  padding-left: 2px !important;
}

.custom-textarea {
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
  /* Add more styles as needed */
}

.question-input {
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.question-container {
  margin-bottom: 18px;
  margin-top: 5px;
}
.regenerate-button {
  margin-top: 5px;
}
#downloadContainer {
  width: 100%;
}

.downloadbutton {
  float: right;
  width: 300px;
}

.question-div{
    border: none;
}