

.login-logo {
  display: block; /* Ensure it's displayed as a block element */
  margin: 0 auto; /* Center it horizontally */
  max-width: 70px; /* Set maximum width */
  height: auto; /* Maintain aspect ratio */
}