.card {
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card-bg{
    /* background-color: rgb(236, 236, 236); */
    background: linear-gradient(329deg, #d0d0d0 0%, rgb(151 188 255) 70%);


}

.card-bg:hover{
  
}


.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: none;
  padding: 1rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  
}

.table {
  margin-bottom: 0;
}

.table th,
.table td {
  vertical-align: middle;
  padding: 1rem;
  border-bottom: 1px solid rgb(207, 207, 207);
  background-color: rgb(244, 244, 244);
}

.table th:hover,
.table td:hover {
  background-color: #dddddd;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa;
}

.table-striped tbody tr:hover {
  background-color: #e9ecef;
}

.table a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.table a:hover {
  color: #3d5ee1;
  cursor: pointer;
}
