.file-upload {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: background-color 0.3s ease;
  float: right;
  margin-bottom: 10px;
}

.file-upload:hover {
  background-color: #ddd;
}

.file-upload input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.file-upload-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.file-upload-preview img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 110%;
  height: 110%;
}

.file-upload-preview i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  color: #888;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.form-wrapper {
  max-height: 760px; /* Adjust the height as needed */
  overflow-y: auto;
}

.first-name {
  margin-left: 0px;
}

.form-corner {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
